<h3>About us</h3>
<p>We are a dope company</p>
<!-- <hr> -->

<% if @recent_products.any? %>
<h3>Fresh Items:</h3>
<ul>
  <% @recent_products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
<% end %>


<%= link_to "See all of our products!", products_path %>
