<h3>About us</h3>
<p>We are a dope company</p>
<!-- <hr> -->
<h3>Fresh Items:</h3>
<ul>
  <li><p>INSERT CODE HURR</p></li>
  <li><p>INSERT CODE HURR</p></li>
  <li><p>INSERT CODE HURR</p></li>
  <li><p>INSERT CODE HURR</p></li>
  <li><p>INSERT CODE HURR</p></li>
</ul>

<%= link_to "See all of our products!", products_path %>
