<!-- <h2>Products Home</h2> -->

<h2 class="center_p"><%= link_to "Create new product", new_product_path %></h2>

<div class="itembox">
  <h3 class="subtitle">Everything in Stock:</h3>
  <hr>
  <%= render "layouts/display_products", :products => @products %>
  <hr>
</div>
